.header-main .image-container .header-name:before {
  background-color: #171a1b;
}

.page-heading h2 {
  color: #5078ff;
}

.page-heading .icon {
  color: #5078ff;
}

.subheading h3 {
  border-color: #5078ff !important;
}
.subheading h3:before,
.subheading h3:after {
  background-color: #5078ff;
}

.banner-section h1 span {
  color: #f44336;
}

.banner-section p .cd-words-wrapper b {
  border-color: #f44336 !important;
}

.about-info ul li span.title {
  border-color: #5078ff !important;
}

.btn-main {
  border-color: #5078ff !important;
  color: #5078ff;
}
.btn-main:after {
  background-color: #5078ff;
}

.services .service-item .icon {
  color: #5078ff !important;
}

.testimonial-item .testimonial-content:before {
  color: #5078ff !important;
}

ul.experience li span.line-left,
ul.education li span.line-left {
  background-color: #5078ff !important;
}
ul.experience li span.line-left:before,
ul.experience li span.line-left:after,
ul.education li span.line-left:before,
ul.education li span.line-left:after {
  border-color: #5078ff !important;
}

ul.experience .content h5,
ul.education .content h5 {
  color: #5078ff;
}

.progress .progress-bar {
  background-color: #5078ff;
}
.progress .progress-bar:after {
  border-bottom-color: #2c5cff;
}

.portfolio-section .portfolio-filter ul li.active {
  background-color: #5078ff;
}

.portfolio-section .item figure:before {
  background-color: #5078ff;
}

.ajax-portfolio-popup .information span.title {
  color: #5078ff;
}

.blog-section .blog-item .blog-content .cat {
  color: #5078ff;
}

.contact-info .info-item .icon {
  color: #5078ff;
}

blockquote {
  border-color: #5078ff !important;
}

.blog-page .blog-heading .cat {
  color: #5078ff;
}
