<!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> -->
<mat-toolbar color="primary" class="navbar">
  <span class="logo" routerLink="/">Rohit Jha</span>

  <span class="spacer"></span>

  <!-- Desktop Menu -->
  <div class="nav-links">
    <a
      mat-button
      routerLink="/"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      Home
    </a>
    <a mat-button routerLink="/about" routerLinkActive="active">About</a>
    <a mat-button routerLink="/projects" routerLinkActive="active">Projects</a>
    <a mat-button routerLink="/services" routerLinkActive="active">Services</a>
    <a mat-button routerLink="/contact" routerLinkActive="active">Contact</a>
  </div>

  <!-- Mobile Menu -->
  <button mat-icon-button [matMenuTriggerFor]="menu" class="menu-btn">
    <mat-icon>menu</mat-icon>
  </button>

  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/">Home</button>
    <button mat-menu-item routerLink="/about">About</button>
    <button mat-menu-item routerLink="/projects">Projects</button>
    <button mat-menu-item routerLink="/services">Services</button>
    <button mat-menu-item routerLink="/contact">Contact</button>
  </mat-menu>
</mat-toolbar>
